*.css   diff=css
*.scss  diff=css
*.sass  diff=css
*.html  diff=html
*.ex    diff=elixir
*.exs   diff=elixir
*.go    diff=golang
*.php   diff=php
*.pl    diff=perl
*.py    diff=python
*.md    diff=markdown
*.rb    diff=ruby
*.rake  diff=ruby
*.rs    diff=rust
*.lisp  diff=lisp
*.el    diff=lisp
*.js    diff=javascript
*.jsx   diff=javascript
*.ts    diff=javascript
